@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


/* Scrollbar สวยๆ */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f1f5f9; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #94a3b8; }

input, textarea, select {
  color: #0f172a; /* สี Slate-900 */
}

::placeholder {
  color: #94a3b8; /* สี Slate-400 */
  opacity: 1;
}